<button (click)="goToCalibersList()">Retour</button>

<div class="form-container">
    <form *ngIf="caliber" (ngSubmit)="onSubmit()" #caliberForm="ngForm">

        <div class="form-group">
            <label for="inch">Taille en inch:</label>
            <input type="number" class="form-control" id="inch"
                required    
                [(ngModel)]="caliber.inch" name="inch"
                #inch="ngModel">
            <!-- year picker library here ? -->
        </div>

        <div class="form-group">
            <label for="metric">Taille en métrique:</label>
            <input type="number" class="form-control" id="metric"
                required    
                [(ngModel)]="caliber.metric" name="metric"
                #metric="ngModel">
            <!-- year picker library here ? -->
        </div>
        
        <button type="submit" class="btn btn-primary" 
            [disabled]="!caliberForm.form.valid">
            Valider
        </button>
    </form>
</div>
<h3 *ngIf="!caliber" class="center">Aucun calibre à éditer </h3>
