.title{
  text-align: center;
}

.caliber_card {
  display: list-item;
  width:90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: white ;
  box-shadow: 4px 4px 8px rgb(0,0,0,0.2);
  border: 3px solid rgb(135, 135, 134);
  border-radius: 20px;
  padding: 20px;
}

.fiche {
  display: flex;
  margin:1%;
  padding-left: 1%;
  height: fit-content;
  background-color: #FFBD59;
  border-radius: 25px;
}

.fiche_buttons{
  display: flex;
}

.add_button{
  position: fixed; bottom: 30px; right: 30px;
}