<h2 class="title">Liste de calibres</h2>

<div class="caliber_card">
    <div *ngFor="let caliber of calibersList">
            <div class="fiche">
                    <div calss="fiche-content">
                            <p>{{ caliber.metric }} metric, {{ caliber.inch }} inch</p>
                    </div>
                    <div class="fiche_buttons">
                            <button (click)="goToEditCaliber(caliber)">Editer</button>
                            <button (click)="deleteCaliber(caliber)">Supprimer</button>
                    </div>
            </div>
    </div>
</div>

<button class="add_button"
(click)="goToAddCaliber()"> 
Ajouter 
</button> 