<div class="containrer">
    <div *ngFor="let caliber of calibersList" class="caliber_card">
            <div class="fiche">
                    <div calss="fiche-content">
                            <p>{{ caliber.metric }} metric</p>
                            <p>{{ caliber.inch }} inch</p>
                    </div>
                    <div class="fiche-button">
                            <p (click)="goToEditCaliber(caliber)">Editer</p>
                            <p (click)="deleteCaliber(caliber)">Supprimer</p>
                    </div>
            </div>
    </div>
</div>

<button class="add_button"
(click)="goToAddCaliber()"> 
Ajouter 
</button> 