<div *ngIf="ammunition" class="row" class="center-align">
    <div class="col">
        <h2 class="header">{{ ammunition.name }}</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img [src]="ammunition.img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="border striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td><strong>{{ ammunition.name }}</strong></td>
                            </tr>
                            <tr>
                                <td>Companie</td>
                                <td><strong>{{ ammunition.company }}</strong></td>
                            </tr>
                            <tr>
                                <td>Calibre</td>
                                <td><strong>{{ ammunition.caliber }}</strong></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><strong>{{ ammunition.description }}</strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a (click)="goToAmmunitionsList()">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf='!ammunition' class="center"> Aucune munition trouvée</h4>
