<div class="ammunition_card">
    <div class="left_column">
        <img class="ammunition_image" src="assets/glock.png" alt="ammunition img" />
        <p class="img_label">{{ ammunition.name }}</p>
    </div>
    <div class="center_column">
        <p class="description">{{ammunition.description}} </p>
        <ul class="center_details">
            <li class="details" >Fabricant:{{ammunition.company.name}}</li>
            <li class="details">Calibre:{{ammunition.caliber}}</li>
        </ul>
    </div>
    <div class="right_column"></div>
</div>
<div class="buttons">
    <button (click)="goToAmmunitionsList()">Retour</button>
    <button (click)="goToEditAmmunition(ammunition)">Éditer</button>
    <button (click)="deleteAmmunition(ammunition)">Supprimer</button>
</div>
<h4 *ngIf='!ammunition' class="center"> Aucune munition trouvée</h4>