<button (click)="goToCompaniesList()">Retour</button>
<div class="form-container">
    <form *ngIf="company" (ngSubmit)="onSubmit()" #companyForm="ngForm">

        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" 
                required    
                [(ngModel)]="company.name" name="name"
                #name="ngModel">
        </div>

        <div class="form-group">
            <label for="country">Pays:</label>
            <select class="form-control" id="country"
                required    
                [(ngModel)]="company.country" name="country"
                #country="ngModel" >
                <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year">Année de création:</label>
            <input type="number" class="form-control" id="year"
                required    
                [(ngModel)]="company.year" name="year"
                #year="ngModel">
            <!-- year picker library here ? -->
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" 
                required    
                [(ngModel)]="company.description" name="description"
                #description="ngModel">
            </textarea>
        </div>

        <div class="form-group">
            <label for="logo">Logo Upload:</label>
            <input type="url" class="form-control" id="logo"
                required
                [(ngModel)]="company.logo" name="logo"
                #logo="ngModel">
        </div>
        
        <button type="submit" class="btn btn-primary" 
            [disabled]="!companyForm.form.valid">
            Valider
        </button>
    </form>
</div>
<h3 *ngIf="!company" class="center">Aucun fabricant à éditer </h3>