<h2 class="title">Liste de professionnels</h2>

<div class="professionnal_card">
        <div *ngFor="let professionnal of professionnalsList" >
                <div class="fiche">
                        <div calss="fiche-content">
                                <p>{{ professionnal.name }}</p>
                                <p>{{ professionnal.adress }}</p>
                                <p>{{ professionnal.year }}</p>
                        </div>
                        <div class="fiche-button">
                                <button (click)="goToEditProfessionnal(professionnal)">Editer</button>
                                <button (click)="deleteProfessionnal(professionnal)">Supprimer</button>
                        </div>
                </div>
        </div>
</div>

<button class="add_button"
    (click)="goToAddProfessionnal()"> 
    Ajouter 
</button> 
