<h1 class="title"> Liste des 4 types de licences</h1>

<div class="container">

    <!-- Bulle 1 -->
    <div class="item-container" (click)="goToLicenseType(licenseTypesList[0])">
        <div class="round-frame">
            <p class="item-name">{{licenseTypesList[0].name}}</p>
        </div>
    </div>

    <!-- Bulle 2 -->
    <div  class="item-container" (click)="goToLicenseType(licenseTypesList[1])">
        <div class="round-frame">
            <p class="item-name">{{licenseTypesList[1].name}}</p>
        </div>
    </div>

    <!-- Bulle 3 -->
    <div  class="item-container" (click)="goToLicenseType(licenseTypesList[2])">
        <div class="round-frame">
            <p class="item-name">{{licenseTypesList[2].name}}</p>
        </div>
    </div>

    <!-- Bulle 4 -->
    <div  class="item-container" (click)="goToLicenseType(licenseTypesList[3])">
        <div class="round-frame">
            <p class="item-name">{{licenseTypesList[3].name}}</p>
        </div>
    </div>

</div>

