<div class="navbar">
    <a class="active" href="#">Acceuil</a>
    <div class="dropdown">
        <button>Armurerie</button>
        <div class="dropdown-content">
            <a routerLink="/companies">Fabricants</a>
            <a routerLink="/guns">Armes</a>
            <a routerLink="/ammunitions">Muntions</a>
            <a routerLink="/calibers">Calibres</a>
        </div>
    </div>
    <button routerLink="/professionnals">Professionnels</button>
    <button routerLink="/licenseTypes">Licenses</button>
    <button routerLink="/member">Espace Membre</button>
</div> 

<router-outlet></router-outlet>