<form *ngIf="ammunition" (ngSubmit)="onSubmit()" #ammunitionForm="ngForm">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-panel">

                <div class="form-group">
                    <label for="name"> Nom:</label>
                    <input type="text" class="form-control" id="name"
                        required
                        [(ngModel)]="ammunition.name" name="name"
                        #name="ngModel">
                    
                    <div [hidden]="name.valid || name.pristine"
                        class="card-panel red accent-1">
                        Le nom du ammunition est requis.
                    </div>
                </div>

                <div class="form-group">
                    <label for="company"> Companie:</label><!--Il faudrait faire la liaison avec l'objet Company, et en faire une liste de séléction-->
                    <input type="text" class="form-control" id="company"
                        required
                        [(ngModel)]="ammunition.company" name="company"
                        #company="ngModel">

                    <div [hidden]="company.valid || company.pristine"
                        class="card-panel red accent-1">
                        Le nom du company est requis.
                    </div>
                </div>

                <div class="form-group">
                    <label for="caliber"> Calibre:</label><!--C'est un objet enum dans le backend, à lier en liste de sélection-->
                    <input type="text" class="form-control" id="caliber"
                        required
                        [(ngModel)]="ammunition.caliber" name="caliber"
                        #caliber="ngModel">

                    <div [hidden]="caliber.valid || caliber.pristine"
                        class="card-panel red accent-1">
                        Le nom du caliber est requis.
                    </div>
                </div>

                <div class="form-group">
                    <label for="description"> Description:</label>
                    <input type="text" class="form-control" id="description"
                        required
                        [(ngModel)]="ammunition.description" name="description"
                        #description="ngModel">
                    
                    <div [hidden]="description.valid || description.pristine"
                        class="card-panel red accent-1">
                        Le nom du description est requis.
                    </div>
                </div>

                <div class="form-group">
                    <label for="img"> img:</label><!-- Il me faut une image, pas de titre, avec des required de taille ou de mg-->
                    <input type="url" class="form-control" id="img"
                        required
                        [(ngModel)]="ammunition.img" name="img"
                        #img="ngModel">

                    <div [hidden]="img.valid || img.pristine"
                        class="card-panel red accent-1">
                        Le nom du img est requis.
                    </div>
                </div>

                <div class="divider">
                    <div class="section center">
                        <button type="submit"
                            class="waves-effect waves-light btn"
                            [disabled]="!ammunitionForm.form.valid">
                            Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
