<div class="form-container">
    <form *ngIf="ammunition" (ngSubmit)="onSubmit()" #ammunitionForm="ngForm">

        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" 
                required    
                [(ngModel)]="ammunition.name" name="name"
                #name="ngModel">
        </div>

        <div class="form-group">
            <label for="company">Fabricant:</label>
            <select class="form-control" id="company"
                required    
                [(ngModel)]="ammunition.company" name="company"
                #company="ngModel" >
                <option *ngFor="let company of companies" [value]="company">{{ ammunition.company }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="caliber">Calibre:</label>
            <select class="form-control" id="caliber"
                required    
                [(ngModel)]="ammunition.caliber" name="caliber"
                #caliber="ngModel" >
                <option *ngFor="let caliber of calibers" [value]="caliber">{{ ammunition.caliber }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" 
                required    
                [(ngModel)]="ammunition.description" name="description"
                #description="ngModel">
            </textarea>
        </div>

        <div class="form-group">
            <label for="img">Image:</label>
            <input type="url" class="form-control" id="img"
                required
                [(ngModel)]="ammunition.img" name="img"
                #img="ngModel">
        </div>
        
        <button type="submit" class="btn btn-primary" 
            [disabled]="!ammunitionForm.form.valid">
            Valider
        </button>
    </form>
</div>
<h3 *ngIf="!ammunition" class="center">Aucune munition à éditer </h3>
