<div class="gun_card">
    <div class="left_column">
        <img class="gun_image" src="assets/glock.png" alt="gun img" />
        <p class="gun_label">{{ gun.name }}</p>
    </div>
    <div class="center_column">
        <p class="description">{{gun.description}} </p>
        <ul class="center_details">
            <li class="details">Année:{{gun.year}}</li>
            <li class="details">Fabricant:{{gun.company.name}}</li>
        </ul>
    </div>
    <div class="right_column"></div>
</div>
<div class="buttons">
    <button (click)="goToGunsList()">Retour</button>
    <button (click)="goToEditGun(gun)">Éditer</button>
    <button (click)="deleteGun(gun)">Supprimer</button>
</div>
<h4 *ngIf='!gun' class="center"> Aucun gun trouvé</h4>