<h1 class="title"> Liste de munitions</h1>

<div class="container">
    <i class="fa-solid fa-circle-chevron-left navigate_button" (click)="goToLeft()"></i>

    <!-- Bulle 1 -->
    <div *ngIf="ammunitionsList[startIndex]" class="item-container" (click)="goToAmmunition(ammunitionsList[startIndex])">
        <div class="round-frame">
            <img class="item-image" [src]="" />
        </div>
        <p class="item-name">{{ammunitionsList[startIndex].name}}</p>
    </div>

    <!-- Bulle 2 -->
    <div *ngIf="ammunitionsList[startIndex+1]" class="item-container" (click)="goToAmmunition(ammunitionsList[startIndex+1])">
        <div class="round-frame">
            <img class="item-image" [src]="" />
        </div>
        <p class="item-name">{{ammunitionsList[(startIndex+1)%ammunitionsList.length].name}}</p>
    </div>

    <!-- Bulle 3 -->
    <div *ngIf="ammunitionsList[startIndex+2]" class="item-container" (click)="goToAmmunition(ammunitionsList[startIndex+2])">
        <div class="round-frame">
            <img class="item-image" [src]="" />
        </div>
        <p class="item-name">{{ammunitionsList[(startIndex+2)%ammunitionsList.length].name}}</p>
    </div>
    <i class="fa-solid fa-circle-chevron-right navigate_button" (click)="goToRight()"></i>

</div>

<button class="add_button"
    (click)="goToAddAmmunition()"> 
    Ajouter 
</button> 

