<h1 class="center"> Liste de fabricants d'arme à feu</h1>>

<div class="container">
    <div class="row">
        <div *ngFor="let company of companiesList">
            <div class="item-container" (click)="goToCompany(company)">
                <div class="round-frame">
                    <img class="item-image" [src]="company.logo" />
                </div>
                <p class="item-name">{{ company.name }}</p>
            </div>
        </div>
    </div>
</div>
<button
    style="position: fixed; bottom: 30px; right: 30px;"
    (click)="goToAddCompany()"> 
    Ajouter 
</button> 

