<h1 class="center"> Liste d'entreprises</h1>>

<div class="container">
    <div class="row">
        <div *ngFor="let company of companiesList" class="col m4 s6">
            <div class="item-container" (click)="goToCompany(company)">
                <div class="round-frame">
                    <img class="item-image" [src]="company.logo" />
                </div>
                <p class="item-name">{{ company.name }}</p>
            </div>
        </div>
    </div>
</div>
<app-form-company></app-form-company>
