<div class="company_card">
    <div class="left_column">
        <img class="logo_image" src="assets/glock.png" alt="company logo" />
        <p class="logo_label">{{ company.name }}</p>
    </div>
    <div class="center_column">
        <p class="description">{{company.description}} </p>
        <ul class="center_details">
            <li class="details" >Pays:{{company.country.name}}</li>
            <li class="details">Année:{{company.year}}</li>
        </ul>
    </div>
    <div class="right_column"></div>
</div>
<div class="buttons">
    <button (click)="goToCompaniesList()">Retour</button>
    <button (click)="goToEditCompany(company)">Éditer</button>
    <button (click)="deleteCompany(company)">Supprimer</button>
</div>
<h4 *ngIf='!company' class="center"> Aucun fabricant trouvé</h4>