<div class="form-container">
    <form *ngIf="professionnal" (ngSubmit)="onSubmit()" #professionnalForm="ngForm">

        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" 
                required    
                [(ngModel)]="professionnal.name" name="name"
                #name="ngModel">
        </div>

        <div class="form-group">
            <label for="country">Pays:</label>
            <select class="form-control" id="country"
                required    
                [(ngModel)]="professionnal.country" name="country"
                #country="ngModel" >
                <option *ngFor="let country of countries" [NgValue]="country">{{ country.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year">Année de création:</label>
            <input type="number" class="form-control" id="year"
                required    
                [(ngModel)]="professionnal.year" name="year"
                #year="ngModel">
            <!-- year picker library here ? -->
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" 
                required    
                [(ngModel)]="professionnal.description" name="description"
                #description="ngModel">
            </textarea>
        </div>

        <div class="form-group">
            <label for="adress">Adresse:</label>
            <input type="text" class="form-control" id="adress" 
                required    
                [(ngModel)]="professionnal.adress" name="adress"
                #adress="ngModel">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" 
                required    
                [(ngModel)]="professionnal.email" name="email"
                #email="ngModel">
        </div>

        <div class="form-group">
            <label for="phone">Téléphone:</label>
            <input type="text" class="form-control" id="phone" 
                required    
                [(ngModel)]="professionnal.phone" name="phone"
                #phone="ngModel">
        </div>

        <div class="form-group">
            <label for="webSite">Site Web:</label>
            <input type="text" class="form-control" id="webSite" 
                required    
                [(ngModel)]="professionnal.webSite" name="webSite"
                #webSite="ngModel">
        </div>

        <div class="form-group">
            <label for="img">Image:</label>
            <input type="url" class="form-control" id="img"
                required
                [(ngModel)]="professionnal.img" name="img"
                #img="ngModel">
        </div>

        <div class="form-group">
            <label for="professionnalType">Type:</label>
            <select class="form-control" id="professionnalType"
                required    
                [(ngModel)]="professionnal.professionnalType" name="professionnalType"
                #professionnalType="ngModel" >
                <option *ngFor="let professionnalType of professionnalTypes" [NgValue]="professionnalType">{{ professionnalType }}</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary" 
            [disabled]="!professionnalForm.form.valid">
            Valider
        </button>
    </form>
</div>
<h3 *ngIf="!professionnal" class="center">Aucun professionnel à éditer </h3>
