<h1 class="center"> Liste d'arme à feu</h1>>

<div class="container">
    <div class="row">
        <div *ngFor="let gun of gunList" class="col m4 s6">
            <div (click)="goToGun(gun)" class="card horizontal" appBorderCard>
                <div class="card-image">
                    <img class="responsive-img" [src]="gun.img"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ gun.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
