<button (click)="goToGunsList()">Retour</button>

<div class="form-container">
    <form *ngIf="gun" (ngSubmit)="onSubmit()" #gunForm="ngForm">

        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name" 
                required    
                [(ngModel)]="gun.name" name="name"
                #name="ngModel">
        </div>

        <div class="form-group">
            <label for="company">Fabricant:</label>
            <select class="form-control" id="company"
                required    
                [(ngModel)]="gun.company" name="company"
                #company="ngModel" >
                <option *ngFor="let company of companies" [ngValue]="company" >{{ company.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="gunType">Type:</label>
            <select class="form-control" id="gunType"
                required    
                [(ngModel)]="gun.gunType" name="gunType"
                #gunType="ngModel" >
                <option *ngFor="let gunType of gunTypes" [ngValue]="gunType" >{{ gunType.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="caliber">Calibre:</label>
            <select class="form-control" id="caliber"
                required    
                [(ngModel)]="gun.caliber" name="caliber"
                #caliber="ngModel" >
                <option *ngFor="let caliber of calibers" [ngValue]="caliber">{{ caliber.metric }} mm / {{caliber.inch}} inch</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rearmingMode">Réarmement:</label>
            <select class="form-control" id="rearmingMode"
                required    
                [(ngModel)]="gun.rearmingMode" name="rearmingMode"
                #rearmingMode="ngModel" >
                <option *ngFor="let rearmingMode of rearmingModes" [ngValue]="rearmingMode">{{ rearmingMode.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="internalMechanic">Méchanique:</label>
            <select class="form-control" id="internalMechanic"
                required    
                [(ngModel)]="gun.internalMechanic" name="internalMechanic"
                #internalMechanic="ngModel" >
                <option *ngFor="let internalMechanic of internalMechanics" [ngValue]="internalMechanic">{{ internalMechanic.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year">Année de création:</label>
            <input type="number" class="form-control" id="year"
                required    
                [(ngModel)]="gun.year" name="year"
                #year="ngModel">
            <!-- year picker library here ? -->
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" 
                required    
                [(ngModel)]="gun.description" name="description"
                #description="ngModel">
            </textarea>
        </div>

        <div class="form-group">
            <label for="img">Image:</label>
            <input type="url" class="form-control" id="img"
                required
                [(ngModel)]="gun.img" name="img"
                #img="ngModel">
        </div>

        <div class="form-group">
            <label for="barelSize">Taille du canon:</label>
            <input type="number" class="form-control" id="barelSize" 
                required    
                [(ngModel)]="gun.barelSize" name="barelSize"
                #barelSize="ngModel">
        </div>

        <div class="form-group">
            <label for="totalSize">Taille totale:</label>
            <input type="number" class="form-control" id="totalSize" 
                required    
                [(ngModel)]="gun.totalSize" name="totalSize"
                #totalSize="ngModel">
        </div>

        <div class="form-group">
            <label for="forbidden">Est prohibé ?</label>
            <input type="checkbox" class="form-control" id="forbidden"   
                [(ngModel)]="gun.forbidden" name="forbidden"
                #forbidden="ngModel">
        </div>

        <div class="form-group">
            <label for="free">Est en vente libre ?</label>
            <input type="checkbox" class="form-control" id="free"   
                [(ngModel)]="gun.free" name="free"
                #free="ngModel">
        </div>
        
        <button type="submit" class="btn btn-primary" 
            [disabled]="!gunForm.form.valid">
            Valider
        </button>
    </form>
</div>
<h3 *ngIf="!gun" class="center">Aucune arme à éditer </h3>